*.pyc
*.pyo
*.db
*.orig
.DS_Store
.coverage
/automation
/apps
/django-hitcount
/django-messages
/django-notification
/django-relationships
/django-social-friends-finder
/django-voting
/django-follow
/static
/django-image-cropper
/django-widget-tweaks
